.container#content {
  margin-top: 60px;
}
body {
  background-color: rgb(0, 0, 0);
}
a {
  color: #089800;
  &:hover {
    color: #00ff48;
    text-decoration: none;
  }
}
body {
  font-family: $site-font;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  color: ghostwhite;
}
.navbar {
  background-color: rgb(32, 32, 32);
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #089800;
  &:hover {
    color: #00ff48;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.infos {
  color: rgb(87, 174, 0);
}

.hometext {
  color: orange;
}

.particle-js {
  
  position: fixed;
  background-repeat: repeat;
  z-index: -10;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.front {
  width: 80%;
  margin-top: -8%;
  text-align: center;
  margin-left: 5%;
}

.about-text {
  color: azure;
}

.abouts-section {
  margin-top: 10%;
}

@media (max-width: 600px){
  .particle{
    height:100%  }
}