.card {
  margin-bottom: 30px;
  background-color: rgb(59, 59, 59);
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

.card-title{
  color: rgb(255, 255, 255);
}
